*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-up-fixed{
    background-color: cornflowerblue;
    height: 10px;
    position: fixed;
    
}

main{
    height: 90vh;
    overflow-y: auto;
    background-color: rgb(25, 26, 34);
}

.bar-left{
    background-color: black;
    width: 10vw;
    height: 100vh;
   
}

.bar-footer{
    width: 100% ;
    height: 10vh;

    background-color: grey;
}