*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
/* CLASSI COMUNI IN VARI ELEMENTI   */
/* tutte le seguenti sono usate nel main */
.grey{
    text-decoration-line: none;
    color: gray;
    font-size: x-small;
    list-style: none;
}

.white{
    color: white;
    text-decoration-line: none;
}


.flexbox{
    display: flex;
}

.bold{
    font-weight: bold;
}

img{
    width: 100%;
}

.foto-size{
    flex-basis: calc(100% / 6);
    padding: 1em 1em 1em 0;
    text-align: center;
}

.radius{
    border-radius: 100%;
}

/*banner fixed contenuto in un div tra header e main ma fuori da entrambi.  */

.bar-up-fixed{
    height: 3.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end;
}

.margin-btn{
    padding-top: 1em;
    padding-right: 1em;
}

.btn-up{
    border-radius: 3em;
    padding: 0.5em 2em 0.5em 2em;
    background-color: transparent;
    color: white;
    border: 1px solid;
    font-size: x-small;
}

/*le classi del main sono le classi comuni al top pagina (grey, img-container, white, font-size, radius, */
.in-main{
    height: calc(100vh - 7rem);
    color: white;
    overflow-y: auto;
    padding-right: 1.5em;
    padding-left: 13.5rem;
    padding-top: 0.5em;
    background-color: #141922;
}
/* barra nera sinistra con all'interno icone e playlist con scroll */
.header{
    width: 12rem;
    height: calc(100% - 3.5em);
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 1;
}

.logo-spotify{
    padding: .3em;
}

.img-log{
    padding: 8px 46px 18px 14px;
}

.items-header{
    list-style: none;
    display: flex;
}

.line-home{
    border: solid 1px chartreuse;
    background: chartreuse;
}

.color-size{
    width: 40px;
    padding-left: 15px;
    
}

.float-R{
    float: right;
    font-size: x-small;
    padding-left: .5em;
}

h6{
    padding: 9px 0px 0px 16px;
}

.fa-plus{
    background-color: grey;
    width: 2em;
    height: 2em;
    padding: 9px;
}

.plus{
    padding: 15px;
}

.playlist{
    height: calc(100% - 18em);
    width: 100%;
    overflow: auto;
}

.NPlay{
    padding: 5px;
    padding-left: 15px;
}

.bottom-nav{
    margin-bottom: auto;
}

.end-bar{
    margin-left: 10px;
    padding: 5px;
}

.hr{
    margin-left: 15px;
    margin-right: 15px;
}

.jd{
    color: white;
    font-size: x-small;
    padding: 5px;
    padding-left: 15px;
}

/*main--- list-+-tre sezioni con foto e titolo  */

.list-main{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.li-up{
    padding-left: 1em;
    font-weight: bold;
}

.line-green{
    border: solid 1px chartreuse;
    background-color: chartreuse;
    width: 2em;
    margin: 3px 40px;
}









/*footer-+-tre sezioni con icone e barre  */
footer{
    height: 3.5rem;
    width: 100%;
    bottom:0;
    left:0;
    background-color: #282828;
    position: relative;
    z-index: 2;
    overflow: hidden;
    justify-content: space-between;
}
/* sezione div ft-left*/
.foto-snt{
    width: 40px;
}

.ft-left{
    padding: 0.5em;
    
}

.text-snt{
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    padding-left: 0.3em;
}

.margin-icon{
    margin-left: 2em;
}
/* footer centrale */

.ft-centre{
    justify-content: space-between;
    
}


/* footer right */
.bar-ex{
    width: 150px;
    height: 3px;
    border-radius: 100px;
    background-color: grey;
    padding: 1px;
    margin: 7px;
    display: inline-block;
}

.bar-in{
    background-color: chartreuse;
    width: 25%;
    height: 2px;
}

.circle-in{
    
}
