*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bar-up-fixed{
    height: 3.5rem;
    width: 100%;
    background-color: red;
    

}

.wrapper{
    height: calc(100vh - 7rem);
    color: chartreuse;
    overflow-y: auto;
    padding-left:  4.5rem;
}

.header{
    width: 3.5rem;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 1;
}


.footer{
    height: 3.5rem;
    width: 100%;
    background-color: yellow;
    position: relative;
    z-index: 2;
}




